$fontRegular: #575756;
$fontHeading: #53686c;
$black: #000000;
$white: #ffffff;
$gray: #dfdede;
$primary: #f9f9f9;
$secondary: #535353;
$accent: #627478;

$fontFamily: "Open Sans", sans-serif;
$fontSize: 18px;
